-# SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%span.item{title: "Author ID: ##{a.id}"}
  %a{href: Iri.new('https://github.com/').append(a.login), style: 'vertical-align:middle;'}<
    %img{src: "https://socatar.com/github/#{a.login}/192-192", style: 'height:1em;width:1em;'}
  %a{href: iri.cut('/a').append(a.login)}<
    &= "@#{a.login}"
  - if Xia::Bots.new.is?(a)
    %span{title: 'It is a supervised bot'}= '⚙️'
