- if Xia::Rank.new(the_author).ok?('withdraw')
  %form{action: iri.cut('/karma/withdraw'), method: 'POST'}
    %label Withdraw:
    %input{type: 'text', name: 'wallet', size: 18, autofocus: true, tabindex: 1, placeholder: 'Zold wallet or invoice'}
    %input{type: 'text', name: 'points', size: 5, tabindex: 2, placeholder: 'Points'}
    %button{type: 'submit', tabindex: 3} Send

%p
  - safe = the_author.karma.points(safe: true)
  - if safe.positive?
    You can withdraw up to
    = format('%.02f', safe)
    points.
  - else
    You
    %span.firebrick can't
    withdraw anything at the moment
    = succeed '.' do
      = "(#{format('%.02f', safe)})"

- if withdrawals.empty?
  %p
    You can convert your karma to real cash. In order to do that,
    create a wallet at
    %a{href: 'https://wts.zold.io'} WTS
    and then use the form above to
    withdraw some or all of your karma. One karma point is equal
    to 1 USD.
- else
  %p
    Your most recent
    %a{href: 'https://wts.zold.io'} Zold
    withdrawals:
  - withdrawals.each do |w|
    %p
      %span.item
        = "##{w[:id]}"
      %span.item.monospace
        = format('%+0.2f', w[:points])
        pts
      %span.item.monospace
        = w[:wallet]
      %span.item.monospace
        = w[:zld].to_zld
        ZLD
      %span.item
        = RelativeTime.in_words(w[:created])

- if recent.empty?
  %p
    Nothing earned as of yet.
- else
  %p
    Your most recent karma points:
  - recent.each do |r|
    %p
      %strong
        = format('%+0.2f', r[:points])
      &= r[:text]
      %br
      %span.smaller.gray
        %span.item
          = RelativeTime.in_words(r[:created])
  = partial(:paging, locals, page: page, list: recent)
