- # (The MIT License)
- # 
- # Copyright (c) 2020-2025 Yegor Bugayenko
- # 
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- # 
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- # 
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

- if Xia::Rank.new(the_author).ok?('withdraw')
  %form{action: iri.cut('/karma/withdraw'), method: 'POST'}
    %label Withdraw:
    %input{type: 'text', name: 'wallet', size: 18, autofocus: true, tabindex: 1, placeholder: 'Zold wallet or invoice'}
    %input{type: 'text', name: 'points', size: 5, tabindex: 2, placeholder: 'Points'}
    %button{type: 'submit', tabindex: 3} Send

%p
  - safe = the_author.karma.points(safe: true)
  - if safe.positive?
    You can withdraw up to
    = format('%.02f', safe)
    points.
  - else
    You
    %span.firebrick can't
    withdraw anything at the moment
    = succeed '.' do
      = "(#{format('%.02f', safe)})"
  %a{href: iri.cut('/terms').fragment('withdraw')} Why?

- if withdrawals.empty?
  %p
    You can convert your karma to real cash. In order to do that,
    create a wallet at
    %a{href: 'https://wts.zold.io'} WTS
    and then use the form above to
    withdraw some or all of your karma. One karma point is equal
    to 1 USD.
- else
  %p
    Your most recent
    %a{href: 'https://wts.zold.io'} Zold
    withdrawals:
  - withdrawals.each do |w|
    %p
      %span.item
        = "##{w[:id]}"
      %span.item.monospace
        = format('%+0.2f', w[:points])
        pts
      %span.item.monospace
        = w[:wallet]
      %span.item.monospace
        = w[:zld].to_zld
        ZLD
      %span.item
        = RelativeTime.in_words(w[:created])

- if recent.empty?
  %p
    Nothing earned as of yet.
- else
  %p
    Your most recent karma points:
  - recent.each do |r|
    %p
      %strong
        = format('%+0.2f', r[:points])
      = r[:text].gsub(/(\d+):([\w\/\-\._]+)/) { '<a href="' + iri.cut('/p').append(Regexp.last_match[1].to_i).to_s + '">' + Regexp.last_match[2] + '</a>' }
      %br
      %span.smaller.gray
        %span.item
          = RelativeTime.in_words(r[:created])
  = partial(:paging, locals, page: page, list: recent)
  %p
    Download full history as
    %a{href: iri.cut('/karma.csv')} .csv
    or
    %a{href: iri.cut('/karma.json')} .json
