!!! 5
%html
  %head
    %title= title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'keywords', content: 'investment, open source, incubator'}
    %meta{name: 'description', content: 'Open Source Incubator'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css', rel: 'stylesheet'}
    %link{href: 'https://www.yegor256.com/css/icons.css', rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/logo-64.png')}
    %script{src: 'https://code.jquery.com/jquery-3.3.1.min.js'}
    :css
      body { padding: 1em; }
      section { margin-left: 0; width: 700px; }
      article { border: 0 }
      header, article, footer { padding: 1em; }
      nav ul { text-align: left; margin-bottom: 0.1em; }
      .item { margin-right: 1em; }
      .logo { width: 1em; height: 1em; vertical-align: middle; }
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a{href: url('/')}
                %img.logo{src: iri.cut('/logo.svg'), alt: 'Logo'}
            %li
              - if defined?(author)
                %span{title: "Author ID: ##{the_author.id}"}
                  = "@#{author[:login]}"
              - else
                %a{href: login_link}
                  = '/login'
              - if defined?(author)
                %li
                  %a{href: iri.cut('/submit'), title: 'Submit a new project'}
                    = '/submit'
              - if defined?(author)
                %li{title: 'Your karma'}
                  %a{href: iri.cut('/karma')}
                    = format('%+d', the_author.karma.points)
                %li
                  %a{href: iri.cut('/terms')}
                    = '/terms'
                %li
                  %a{href: iri.cut('/api')}
                    = '/api'
              - if defined?(author)
                %li
                  %a{href: iri.cut('/logout')}
                    = '/logout'
      %article
        - if defined?(flash_msg) && !flash_msg.empty?
          %p{style: "background-color:#{flash_color}; color:white; border-radius:2px; padding:0.2em 0.4em;"}
            = flash_msg
        = yield
      %footer.smaller.gray
        - if defined?(author) && the_author.vip?
          %nav
            %ul
              %li
                %a{href: iri.cut('/sql')}
                  = '/sql'
        %nav
          %ul
            %li
              &copy; 2020
              %a{href: '/welcome'} Codexia
            %li.monospace{title: 'Release version and currently deployed version'}
              = "#{Xia::RELEASE}/#{ver}"
            %li{title: 'PostgreSQL version'}
              = "pg:#{settings.pgsql.version}"
            %li{title: 'Your IP address visible to the server'}
              %a{href: 'https://iplocation.com/?ip=' + request_ip}
                = request_ip
            %li{title: 'This request processing time'}
              = "#{((Time.now - http_start) * 1000).round}ms"
        %nav
          %ul
            %li
              %a{href: 'https://github.com/yegor256/codexia/stargazers'}<
                %img{src: 'https://img.shields.io/github/stars/yegor256/codexia.svg?style=flat-square', alt: 'GitHub'}
            %li
              %a{href: 'https://www.sixnines.io/h/8754'}<
                %img{src: 'https://www.sixnines.io/b/8754?style=flat', alt: 'SixNines'}
