-# SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Payables for
  = "@#{a.login}"

%table.compact
  %thead
    %tr
      %th.right Points
      %th Details
  %tbody
    - recent.each do |p|
      %tr
        %td.right.monospace
          = format('%+0.2f', p[:points])
        %td
          = p[:text]
          %br
          %span.gray.smaller{title: p[:created]}
            = RelativeTime.in_words(p[:created])

= partial(:paging, locals, page: page, list: recent)
