%p
  %span.monospace
    &= project.coordinates
  %a{href: "https://github.com/#{project.coordinates}"}
    %img{src: iri.cut('/github-logo.svg'), style: 'vertical-align: middle; width: 1em;'}

%p
  - project.badges.all.each do |b|
    %kbd
      &= b

- if the_author.karma.points >= 500
  %form{action: iri.cut('/p').append(project.id).append('attach'), method: 'POST'}
    %input{type: 'text', name: 'text', size: 25, placeholder: 'attach a new badge...'}
    %button{type: 'submit'} Attach

- reviews.each do |r|
  %p
    %span.smaller.gray
      %span.item{title: "Author ID: ##{r[:author_id]}"}
        %img{src: "https://socatar.com/github/#{r[:author]}/192-192", style: 'height: 1em; width: 1em; vertical-align: middle;'}
        &= r[:author]
      %span.item
        = RelativeTime.in_words(r[:created])
      %span.item
        = r[:up]
        - if the_author.karma.points >= 100
          %a{href: iri.cut('/p').append(project.id).append('r').append(r[:id]).append('up')}
            = '/up'
        - else
          %span.gray{title: 'You can\'t upvote because your karma is too low'}
            = '/up'
      %span.item
        = r[:down]
        - if the_author.karma.points >= 200
          %a{href: iri.cut('/p').append(project.id).append('r').append(r[:id]).append('down')}
            = '/down'
        - else
          %span.gray{title: 'You can\'t down-vote because your karma is too low'}
            = '/down'
      %span.item
        - if the_author.karma.points >= 500
          %a{href: iri.cut('/p').append(project.id).append('r').append(r[:id]).append('delete'), onclick: 'return confirm("Are you sure?");'}
            = '/delete'
        - else
          %span.gray{title: 'You can\'t delete this review because your karma is too low'}
            = '/delete'
    %br
    &= r[:text].gsub('\n\n', '<br/><br/>')

%form{action: iri.cut('/p').append(project.id).append('post'), method: 'POST'}
  %fieldset
    %label What do you think about it?
    %textarea{name: 'text', style: 'width: 100%; height: 8em;', readonly: the_author.karma.points.negative?}
    %button{type: 'submit', disabled: the_author.karma.points.negative?, onclick: 'return confirm("Are you sure?");'} Post
    %label
      = succeed ':' do
        %strong.firebrick
          ATTENTION
      Read our
      %a{href: iri.cut('/terms')}
        terms of use
      and don't abuse the platform.
