-# SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

- if list.count.zero?
  %p
    No projects found :(
- else
  %nav
    %ul
      %li
        = list.count
        projects
      %li
        - if Xia::Rank.new(the_author).ok?('projects.show-deleted')
          - if params[:show_deleted]
            %a{href: iri.del('show_deleted')} hide deleted
          - else
            %a{href: iri.add(show_deleted: true)} show deleted
  - list.each do |p|
    %p
      %a{href: iri.cut('/p').append(p.id), style: (p.deleter ? 'text-decoration:line-through' : '')}
        &= p.coordinates
      %br
      - p.badges.to_a.each do |b|
        = partial(:badge, locals, text: b.text)
      %br
      %span.smaller.gray
        = partial(:author, locals, a: p.submitter)
        %span.item{title: "##{p.id} on #{p.created}"}
          = RelativeTime.in_words(p.created)
        - unless p.reviews_count.zero?
          %span.item{title: "##{p.id} on #{p.created}"}
            = "#{p.reviews_count} review#{p.reviews_count == 1 ? '' : 's'}"
        %span.item
          %a{href: iri.cut('/p').append(p.id).append('delete'), onclick: 'return confirm("Are you sure?");'}<
            = '/delete'
  = partial(:paging, locals, page: page, list: list)
