- list.each do |p|
  %p
    %a{href: iri.cut('/p').append(p[:id])}
      &= p[:coordinates]
    %br
    - p[:badges].each do |b|
      %kbd
        &= b
    %br
    %span.smaller.gray
      %span.item{title: "Author ID: ##{p[:author_id]}"}
        %img{src: "https://socatar.com/github/#{p[:author]}/192-192", style: 'height: 1em; width: 1em; vertical-align: middle;'}
        &= p[:author]
      %span.item
        = RelativeTime.in_words(p[:created])
      %span.item
        - if the_author.karma.points >= 500
          %a{href: iri.cut('/p').append(p[:id]).append('delete')}
            = '/delete'
        - else
          %span.gray{title: 'You can\'t delete this project because your karma is too low'}
            = '/delete'
