- list.each do |p|
  %p
    %a{href: iri.cut('/p').append(p[:id])}
      &= p[:coordinates]
    %br
    - p[:badges].each do |b|
      %kbd
        &= b
    %br
    %span.smaller.gray
      = partial(:author, locals, id: p[:author_id], login: p[:author])
      %span.item
        = RelativeTime.in_words(p[:created])
      %span.item
        %a{href: iri.cut('/p').append(p[:id]).append('delete'), onclick: 'return confirm("Are you sure?");'}<
          = '/delete'
