- # (The MIT License)
- # 
- # Copyright (c) 2020-2025 Yegor Bugayenko
- # 
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- # 
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- # 
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

- if list.count.zero?
  %p
    No projects found :(
- else
  %nav
    %ul
      %li
        = list.count
        projects
      %li
        - if Xia::Rank.new(the_author).ok?('projects.show-deleted')
          - if params[:show_deleted]
            %a{href: iri.del('show_deleted')} hide deleted
          - else
            %a{href: iri.add(show_deleted: true)} show deleted
  - list.each do |p|
    %p
      %a{href: iri.cut('/p').append(p.id), style: (p.deleter ? 'text-decoration:line-through' : '')}
        &= p.coordinates
      %br
      - p.badges.to_a.each do |b|
        = partial(:badge, locals, text: b.text)
      %br
      %span.smaller.gray
        = partial(:author, locals, a: p.submitter)
        %span.item{title: "##{p.id} on #{p.created}"}
          = RelativeTime.in_words(p.created)
        - unless p.reviews_count.zero?
          %span.item{title: "##{p.id} on #{p.created}"}
            = "#{p.reviews_count} review#{p.reviews_count == 1 ? '' : 's'}"
        %span.item
          %a{href: iri.cut('/p').append(p.id).append('delete'), onclick: 'return confirm("Are you sure?");'}<
            = '/delete'
  = partial(:paging, locals, page: page, list: list)
