- if list.count.zero?
  %p
    No projects found :(
- else
  %p
    Total:
    = list.count
    projects
  - list.each do |p|
    %p
      %a{href: iri.cut('/p').append(p.id), style: (p.deleter ? 'text-decoration:line-through' : '')}
        &= p.coordinates
      %br
      - p.badges.to_a.each do |b|
        = partial(:badge, locals, text: b.text)
      %br
      %span.smaller.gray
        = partial(:author, locals, a: p.submitter)
        %span.item{title: "##{p.id} on #{p.created}"}
          = RelativeTime.in_words(p.created)
        - unless p.reviews_count.zero?
          %span.item{title: "##{p.id} on #{p.created}"}
            = "#{p.reviews_count} review#{p.reviews_count == 1 ? '' : 's'}"
        %span.item
          %a{href: iri.cut('/p').append(p.id).append('delete'), onclick: 'return confirm("Are you sure?");'}<
            = '/delete'
  = partial(:paging, locals, page: page, list: list)
