%h2
  Terms of Use

%p
  Any open source
  %i project
  can be added to the list.

%p
  Each project may get either manual or automated
  %i reviews
  (via API).

%p
  A review can be
  %i voted
  (up or down) by a user.

%p
  Projects may get and lose
  %i badges
  according to some rules. For example,
  if a project has a review which is less than 6 months old and
  has more than 100 upvotes, the badge
  %code trending
  may be attached.

%p
  Certain
  %i features
  may be available only for users with big
  enough reputation, for example:

%table
  %colgroup
    %col{style: 'width: 5em'}
  %thead
    %tr
      %th
        Min karma required
      %th
        Features available
  %tbody
    - rank_legend.reject { |g| g[:min].zero? }.sort_by { |g| g[:min] }.group_by { |g| g[:min] }.each do |min, gs|
      %tr
        %td.right.monospace
          = min
        %td
          To
          = gs.map { |g| g[:text] }.join('<br/>To ')

%p
  - if Xia::Bots.new.is?(the_author)
    %del Users
    Bots
  - else
    Users
  may earn these
  %i karma
  points:

%ul
  - karma_legend.reject { |g| g[:points].zero? }.each do |g|
    %li
      = succeed ':' do
        %strong.monospace{class: g[:points].positive? ? 'seagreen' : 'firebrick'}
          = format('%+0.2f', Xia::Bots.new.is?(the_author) ? g[:bot] : g[:points])
      per
      = g[:terms]

%p
  Each karma point earned is worth $1 (one US dollar) and
  can instantly be cashed-out via
  %a{href: 'https://wts.zold.io'} WTS
  to ZLD currency, which can be instantly converted to Bitcoins.

%p
  We are interested only in projects, which are
  1) not yet super popular,
  2) larger than 5K lines of code, and
  3) may become market leaders if we help.
  Projects, which are not software products, will be deleted.

%p
  We are interested in detailed reviews, which emphasize
  pros and cons of projects, from a professional subjective
  point of view of a user. A review may be deleted, if it is either
  1) too short, 2) too obvious, 3) copied from somewhere,
  or 4) too offensive.
