-# SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Terms of Use

%p
  = succeed ':' do
    %strong.firebrick
      ATTENTION
  Be aware that the terms and conditions described here
  may be changed at any moment without any notice.

%p
  Any open source
  %i project
  can be added to the list.

%p
  Each project may get either manual or automated
  %i reviews
  (via API).

%p
  A review can be
  %i voted
  (up or down) by a user.

%p
  Projects may get and lose
  %i badges
  according to some rules. For example,
  if a project has a review which is less than 6 months old and
  has more than 100 upvotes, the badge
  %code trending
  may be attached.

%p
  A project, when added, gets
  %code newbie
  badge and can be promoted by users to
  = succeed ',' do
    %code L1
  = succeed ',' do
    %code L2
  or
  %code L3
  level of interest.
  We will most probably donate to
  %code L3
  projects, if they also match with our
  = succeed '.' do
    %a{href: iri.cut('/focus')} tech focus

%p
  Certain
  %i features
  may be available only for
  - if Xia::Bots.new.is?(the_author)
    %del.firebrick users
    bots
  - else
    users
  with big enough reputation:

%table
  %colgroup
    %col{style: 'width: 5em'}
  %thead
    %tr
      %th.right
        Karma
      %th
        Features available
  %tbody
    - rank_legend.reject { |g| g[:min].zero? }.sort_by { |g| g[:min] }.group_by { |g| g[:min] }.each do |min, gs|
      - if Xia::Bots.new.is?(the_author)
        - next unless gs.find { |g| g[:bot_forbid].nil? }
      %tr
        %td.right.monospace
          = "#{min}+"
        %td
          To
          = gs.select { |g| !g[:bot_forbid] || !Xia::Bots.new.is?(the_author) }.map { |g| g[:text] }.join('<br/>To ')

%p
  - if Xia::Bots.new.is?(the_author)
    %del.firebrick Users
    Bots
  - else
    Users
  may earn these
  %i karma
  points:

%table
  %colgroup
    %col{style: 'width: 5em'}
  %thead
    %tr
      %th.right
        Points
      %th
        Achievement
  %tbody
    - karma_legend.each do |g|
      - s = Xia::Bots.new.is?(the_author) ? g[:bot] : g[:points]
      - pts = s.first[1]
      - next if pts.zero?
      %tr
        %td.right.monospace
          %strong{class: pts.positive? ? 'seagreen' : 'firebrick'}
            = format('%+0.2f', pts)
        %td
          per
          = g[:terms]

%p{id: 'withdraw'}
  Each karma point earned is worth $1 (one US dollar) and
  can instantly be cashed-out via
  %a{href: 'https://wts.zold.io'} WTS
  to ZLD currency, which can be instantly converted to Bitcoins.
  You can withdraw everything that is above 100 points and
  was earner earlier than two days ago.

%p
  We are interested only in GitHub-hosted projects, which are
  1) not yet super popular,
  2) not yet sponsored by any large enterprise,
  3) larger than 5K lines of code, and
  4) may become market leaders if we help.
  Projects, which are not software products will be deleted.

%p
  We are interested in detailed reviews, which emphasize
  pros and cons of projects, from a professional subjective
  point of view of a user. A review may be deleted, if it is either
  1) too short, 2) too obvious, 3) copied from somewhere,
  or 4) too offensive.
